@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif
}


/* Overlay */
.overlay{
	position:relative;
}
.overlay:before{
	position:absolute;
	content:"";
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:#1a76d1;
	opacity:0.9;
}


.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product {
  background-color: #fcfcfc;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  width: 250px;
  padding: 20px;
  transition: transform 0.3s;
}

.product:hover {
  transform: scale(1.05);
}

.product img {
  max-width: 100%;
  height: auto;
}

.product h3 {
  margin: 15px 0 10px;
  font-size: 1.2em;
}

.product p {
  color: #666;
  font-size: 0.9em;
  line-height: 1.5;
}


