@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif
}





/* Bread Crumbs */
.breadcrumbs2 {
	background-image: url('../img/MBTSROOM.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	padding: 180px 0px;
}
.breadcrumbs2 .bread-inner2{
	z-index:22;
	text-align:center;
}
.breadcrumbs2 h2{
	color: #fff;
	text-transform:capitalize;
	font-size: 75px;
	font-weight: 700;
	margin: 0;
	padding: 0;
  margin-bottom: 80px;
}
.breadcrumbs2 h1{
	color: #fff;
	text-transform:capitalize;
	font-size: 45px;
	font-weight: 700;
	margin: 0;
	padding: 0;
}
.breadcrumbs2 .bread-list {
	display: inline-block;
	margin-top: 20px;
}
.breadcrumbs ul li{
	display: inline-block;
	position: relative;
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	text-transform: capitalize;
}
.breadcrumbs ul li i {
	margin: 0px 10px;
	font-size: 14px;
	font-weight: 600;
	color:#fff;
}
.breadcrumbs ul li a {
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	text-transform: capitalize;
	margin:0;
	padding:0;
}
.breadcrumbs ul li a:hover{
	color:#2C2D3F;
}
.breadcrumbs ul li.active a {
	color: #fff;
	display: inline-block;
}

















.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.project {
  background-color: #fbfeff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.project:hover {
  transform: scale(1.05);
}

.project-image {
  width: 100%;
  height: auto;
}

.project-info {
  padding: 15px;
  
}

.project-info h3 {
  margin: 0 0 10px;
  color: #363636;
  font-size: 18px;
  

}

.project-info p {
  margin: 0;
  color: #666;
  
  
  
}
a {
  text-decoration: none; /* Remove underline */
}

.get {
  height: 300px;
  background-color:#06a84b;
}



.customized {
  text-align: center;
}



