/* More Info start*/

.more-info {
	margin-top: 25px;
}

.more-info .left-image img {
	width: 80%;
	overflow: hidden;
}

.more-info .more-info-content {
	background-color: #007835;
}

.about-info .more-info-content {
	background-color: transparent;
}

.about-info .right-content {
	padding: 0px!important;
	margin-right: 30px;
}

.more-info .right-content {
	padding: 45px 45px 45px 30px;
}

.more-info .right-content span {
	text-transform: uppercase;
	font-size: 25px;
	color: #f3e9e9;
	letter-spacing: 1px;
	margin-bottom: 10px;
	display: block;
}

.more-info .right-content h2 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 35px;
	color: #00aff0;
}

.more-info .right-content em {
	font-style: normal;
	color: #00a904;
}

.more-info .right-content p {
	margin-bottom: 30px;
	color: #b0b6b8;
}
.more-info .right-content a.filled-button {
	background-color: #00aff0;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 12px 30px;
	border-radius: 30px;
	display: inline-block;
	transition: all 0.3s;
}
.more-info .right-content a.filled-button:hover {
	background-color: #f1592a;
	color: #ffffff;
}
.more-info .right-content a.border-button {
	background-color: transparent;
	color: #fff;
	border: 2px solid #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px 28px;
	border-radius: 30px;
	display: inline-block;
	transition: all 0.3s;
}
.more-info .right-content a.border-button:hover {
	background-color: #fff;
	color: #044a10;
}
/* More Info end */